@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Video Games</h1>
    <p>Your one stop shop to purchase or update/add games</p>
    <img src="https://www.shutterstock.com/image-photo/gamer-holding-gamepad-controller-videogame-260nw-1705733206.jpg" alt="Gamer Holding Gamepad">
</div>

<style>
    

    body {
        background-color: #000000; /* Black background */
        font-family: Courier New, Courier, monospace; /* Replace 'YourCustomFont' with the name of your custom font */
        color: #ffffff; /* Text color */
       
    }

    .text-center {
        margin-top: 50px; /* Example margin for center alignment */
    }

    h1.display-4 {
        font-size: 36px; /* Example font size */
    }

    p {
        font-size: 18px; /* Example font size */
    }

    img {
        max-width: 100%; /* Ensure the image does not exceed its container width */
    }
   



</style>